:root {
	--bg-color: #dbba76;
	--nav-color: #800000cc;
	--hover-color: #dbb976ad;
	--plain-color: #fff;
	--default-color: #000;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif !important;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

.navigation-bar {
	margin: 0 auto;
	width: 100%;
	position: fixed;
	z-index: 9999;
	text-align: center;
	padding: 1em 3em;
}

.nav-scroll {
	height: auto;
	background: var(--plain-color);
	color: var(--default-color) !important;
	transition: 8s all ease-in;
}

.nav-scroll.navigation-bar {
	padding: 0;
}

.nav-scroll nav {
	border-bottom: none !important;
	background-color: transparent !important;
	padding: 0 20px;
}

nav {
	position: relative;
	height: auto;
	width: 100%;
	transition: all 1s ease-out;
	border-bottom: 2px solid var(--hover-color) !important;
	background-color: none !important;
}


nav ul {
	/* width: 50%; */
	text-align: center;
	height: 100%;
	margin-left: auto;
	margin-right: 10%;
	transition: all 1s ease-in;
	font-size: 14px;
	font-weight: 600;
}

nav ul li {
	margin: 0 1em;
	list-style: none;
	height: inherit;
	display: inline-block;
}


nav ul li a {
	display: inline-block;
	/* color: var(--default-color) !important; */
	color: var(--plain-color) !important;
	text-decoration: none;
	transition: all 0.25s ease-out;
}

nav ul li a:hover {
	color: var(--default-color) !important;
}

.navbar-brand {
	font-family: 'Comfortaa', cursive;
	letter-spacing: -0.6px;
	color: var(--plain-color) !important;
}

.navbar-brand span {
	font-family: 'Berkshire Swash', cursive;
	font-size: 35px;
	letter-spacing: -2px;
}

.navbar-brand span:nth-child(2) {
	margin-left: 2px;
}

.navbar-brand i {
	width: 10px;
	background: var(--hover-color);
	height: 10px;
	display: inline-block;
	margin: 0 0 -5px 5px;
}

.nav-scroll ul li a {
	color: var(--default-color) !important;
}

.nav-scroll ul li a:hover {
	color: var(--hover-color) !important;
}

.nav-scroll .navbar-brand {
	color: var(--default-color) !important;
}

.nav-scroll .navbar-brand span {
	font-size: 30px;
}

.nav-scroll .navbar-brand i {
	width: 8px;
	/* background: #356243; */
	height: 8px;
	margin: 0 0 -4px 3px;
}

.sec1 {
	background: url('/images/09.jpg') no-repeat center 10% fixed;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
	padding-top: 10vh;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.sec1 .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}

.sec1 video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

@media (pointer: coarse) and (hover: none) {
	header {
		background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
	}

	header video {
		display: none;
	}
}

.sec1 .banner {
	margin: 0 auto;
	position: relative;
	z-index: 2;
	text-align: center;
	color: var(--plain-color);
	text-shadow: 2px 2px 2px var(--bg-color);
	font-family: 'Montserrat', cursive;
	font-size: 25px;
}

.sec1 .banner span {
	color: var(--plain-color);
	text-shadow: 1px 1px 3px var(--bg-color);
	z-index: 2;
	font-size: 55px;
	letter-spacing: 4px;
	font-weight: 500;
	font-family: 'Poppins', cursive;
}

.subBanner {
	margin: 0 auto;
	font-family: 'Montserrat', cursive;
	font-size: 20px;
	text-align: justify;
	z-index: 2;
	color: var(--plain-color);
	/* text-shadow: 2px 1px 3px mediumvioletred; */
	/* display: flex; */
	vertical-align: middle;
}

#eventDate {
	transition: all 2s linear;
}


.subBanner input {
	background: #edebee;
	text-align: center;
	padding: 8px;
	width: 80%;
	font-size: 15px;
	height: 55px;
	margin: 20px 0;
	outline: none;
	outline: none;
	border: 1px solid var(--bg-color);
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

.subBanner button {
	/* line-height: 50px!important; */
	padding: 12px 30px !important;
	background: var(--bg-color);
	font-size: 13px;
	height: 55px;
	color: var(--plain-color);
	position: absolute;
	margin: 20px auto;
	outline: none;
	border-radius: 0;
	outline: none;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	transition: 0.2s all ease-in-out;
}

.subBanner button:focus,
.subBanner button:active,
.subBanner button:hover {
	outline: transparent;
	box-shadow: none;
}

.subBanner button:hover {
	background: var(--hover-color);
}

.timeSymbolContainer {
	display: flex;
	z-index: 2;
	vertical-align: middle;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	margin: 25px auto 10px;
	max-width: 600px;
}

.timesymbol {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	width: 600px;
}

.timesymbol::before,
.timesymbol::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 22%;
	background: var(--bg-color);
}

.timesymbol::before {
	left: 26%;
}

.timesymbol::after {
	right: 26%;
}

.timesymbol span {
	font-size: 19px;
	font-stretch: 20px;
}

/* #countdown {
	margin-top: 20px;
	text-align: center;
	color: var(--plain-color);
}

#display .check {
	display: inline-block;
	margin: auto 12px;
}

.time {
	background-color: var(--bg-color);
	border-radius: 12px;
	height: 100px;
	width: 100px;
	display: inline-block;
}

.timeLeft {
	text-align: center;
	font-weight: bold;
	font-size: 3em;
	display: block;
	margin-top: 15px;
}

#label {
	color: var(--plain-color);
	font-size: 30px;
	text-shadow: 2px 2px 2px var(--bg-color);
} */

.counter-wrap {
	position: relative;
	margin-left: auto;
	z-index: 2;
}

.counter-wrap:before {
	position: absolute;
	content: "";
	right: 0px;
	top: 0px;
	width: 90%;
	max-height:30vh;
	height: 30vh;
	background: #0000009e;
	border-radius: 100px 0px 0px 100px;
	box-shadow: inset 1px 1px 0px 0px #dbba7678;
}

.counter-inner {
	/* margin-top: -70px; */
	padding: 50px;
	position: relative;
}

.counter-inner .row {
	align-items: center;
	flex-flow: row;
	display: flex;
	justify-content: center;
}

.counter-stat h2 {
	color: var(--plain-color);
	font-weight: 300;
	font-size: 22px;
	margin-left: 22px;
	text-align: center;
}

.syotimer {
	display: flex;
	flex-wrap: wrap;
	flex-flow: column;
}

.syotimer__body {
	display: flex;
	width: 100%;
}

.syotimer-cell {
	display: inline-block;
	height: 100px;
	width: 115px;
	border-radius: 15px;
	font-family: "Poppins", sans-serif;
	background: var(--bg-color);
	color: var(--plain-color);
	text-align: center;
	padding-top: 15px;
	margin-right: 10px;
}

.syotimer-cell__value {
	font-weight: 800;
	font-size: 45px;
	line-height: 45px;
	color: var(--plain-color);
	font-family: "Poppins", sans-serif;
}

.syotimer-cell__unit {
	text-transform: capitalize;
	color: var(--plain-color);
}

.sec2 {
	height: auto;
	padding: 40px 0px 30px 0px;
	background: var(--plain-color);
}

.AboutTopic,
.eventSpeakers {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.AboutTopic {
	padding-bottom: 40px;
}

.AboutTopic span,
.eventSpeakers span {
	font-size: 46px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	color: var(--default-color);
}

.sec2 .container {
	background: var(--plain-color);
	max-width: 1240px;
	align-items: center;
	display: flex;
	flex-flow: column;
}

.Abt {
	max-width: 80%;
	text-align: justify;
}

label.AboutSub {
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	line-height: 36px;
	font-weight: 700;
	font-style: normal;
	display: flex;
	justify-content: center;
	color: var(--bg-color);
	padding-top: 30px;
	padding-bottom: 20px;
	/* border-bottom: 2px solid; */
	margin: 0 50px 0px;
}

.Abt>div {
	border-top: 2px solid var(--bg-color);
	border-bottom: 2px solid var(--bg-color);
	padding: 25px;
	text-align: justify;
}

.sec2 .AboutContent {
	display: flex;
	align-items: flex-start;
	justify-content: normal;
	flex-direction: column;
	padding: 40px 20px 20px;
}

.AboutContent p,
.AboutContent2 p {
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	text-transform: capitalize;
	line-height: 30px;
	font-weight: 600;
	font-style: normal;
	display: flex;
	position: relative;
	left: -55px;
	align-self: center;
	align-items: center;
	align-content: center;
}

.AboutContent p::before,
.AboutContent2 p::before {
	content: '';
	position: absolute;
	height: 2px;
	width: 35px;
	background: var(--bg-color);
	left: -38px;
}

.AboutContent ol,
.AboutContent2 ol {
	counter-reset: my-counter;
	list-style: none;
	padding-left: 80px;
	text-align: justify;
}

.AboutContent ol strong,
.AboutContent2 ol strong {
	font-weight: 600;
	text-shadow: 0px 0px 1px var(--hover-color);
}

.AboutContent ol li,
.AboutContent2 ol li {
	margin: 0 0 0.5rem 0;
	counter-increment: my-counter;
	position: relative;
	padding-left: 20px;
}

.AboutContent ol li::before,
.AboutContent2 ol li::before {
	content: counter(my-counter);
	color: var(--plain-color);
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	--size: 30px;
	left: calc(-1 * var(--size) - 10px);
	line-height: var(--size);
	width: var(--size);
	height: var(--size);
	top: 0;
	/* transform: rotate(-10deg); */
	background: var(--bg-color);
	border-radius: 25%;
	text-align: center;
	box-shadow: 1px 1px 0 #999;
}

.AboutContent li ul,
.AboutContent2 li ul {
	margin: 12px 0px 0 50px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column;
}

.AboutContent li ul dl,
.AboutContent2 li ul dl {
	margin: 2px !important;
	display: inline-flex;
	align-items: center;

}

.AboutContent li ul dl::before,
.AboutContent2 li ul dl::before {
	content: '';
	position: absolute;
	height: 2px;
	width: 8px;
	background: var(--default-color);
	margin-left: -20px;
}

.AboutContent2 {
	display: flex;
	flex-flow: column;
	vertical-align: middle;
	align-items: center;
	padding: 40px 20px 20px 40px !important;
}

.AboutContent2 p {
	left: -100px;
}

.accordions {
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.accordion {
	width: 100%;
	color: var(--plain-color);
	overflow: hidden;
}

.accordion-label {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	background: var(--bg-color);
	font-weight: bold;
	cursor: pointer;
	/* Icon */
}

.accordion-label:hover {
	background: var(--bg-color);
}

.accordion-label::after {
	content: "❯";
	width: 1em;
	height: 1em;
	text-align: center;
	transition: all 0.35s;
}

.accordion-content {
	max-height: 0;
	padding: 0 1em;
	color: var(--default-color);
	background: var(--plain-color);
	transition: all 0.35s;
}

.accordion-close {
	display: flex;
	justify-content: flex-end;
	padding: 1em;
	font-size: 0.75em;
	background: var(--bg-color);
	cursor: pointer;
}

.accordion-close:hover {
	background: var(--bg-color);
}

.accordionInput {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

input:checked+.accordion-label {
	background: var(--bg-color);
}

input:checked+.accordion-label::after {
	transform: rotate(90deg);
}

input:checked~.accordion-content {
	max-height: 100vh;
	padding: 1em;
	overflow: scroll;
}

.accordion ol {
	margin-bottom: 0px !important;
}

.accordion ol li {
	margin: 0 !important;
}

input:checked~.accordion-content ol li {
	margin: 0 0 0.5rem 0 !important;
}

.accordion-content ol li ul ul dl {
	font-size: 13px;
}

.sec3 {
	height: auto;
	padding: 50px 0px 50px 0px;
	display: flex;
	flex-direction: column;
}

.sec3 .container {
	padding-top: 30px;
	margin-top: 40px;
	align-self: center;
	width: 100%;
}

.eventSpeakers span {
	color: var(--default-color);
}

.speakers {
	padding: 0 25px;
}

.speakers .row {
	margin: 0 auto;
}

.speaker {
	padding: 0px 5px !important;
	/* background: #52745d; */
	max-height: 315px;
	overflow: hidden;
}

.speaker:hover {
	background: var(--hover-color);
}

.speaker img {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

.speaker:hover img {
	opacity: 0.4;
}

.speaker h3,
.speaker p {
	margin: 0;
}

.speaker h3 {
	position: absolute;
	bottom: 10px;
	opacity: 1;
	/* padding-top: 30%; */
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	word-spacing: -0.15em;
	font-weight: 700;
	width: 100%;
	font-size: 20px;
}

.speaker:hover h3 {
	-webkit-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0);
	width: 80%;
}

.speaker p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
	letter-spacing: 1px;
	font-size: 12px;
	font-style: italic;
}

.speaker:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0, -45px, 0);
	transform: translate3d(0, -45px, 0);
}

.speaker figcaption {
	padding: 2em;
	color: var(--plain-color);
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	height: 100%;
	justify-content: center;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */


.speaker figcaption::before,
.speaker figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	pointer-events: none;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.speaker figcaption::before {
	border-top: 1px solid var(--plain-color);
	border-bottom: 1px solid var(--plain-color);
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
}

.speaker figcaption::after {
	border-right: 1px solid var(--plain-color);
	border-left: 1px solid var(--plain-color);
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
}

.speaker:hover figcaption::before,
.speaker:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}



.speakerJob {
	background: var(--bg-color);
	color: var(--plain-color);
	position: absolute;
	/* bottom: 0; */
	/* width: 100%; */
	/* align-self: center; */
	/* left: 0; */
	padding: 5px 10px;
}

.speakerJob h5 {
	font-size: 15px;
	margin: 0;
}












































































































































































































































































































@media screen and (max-width:1500px) {
	.sec1 {
		padding-top: 30vh;
	}
}


@media screen and (max-width: 992px) {
	.hamburger {
		position: absolute;
		margin-left: auto;
		margin-right: 0px;
		cursor: pointer;
		right: 5%;
		/* top: 50%; */
		float: right;
		/* transform: translate(-5%, -50%); */
	}

	.line {
		width: 30px;
		height: 4px;
		background: var(--default-color);
		margin: 5px;
		border-radius: 5px;
		transition: all 0.5s linear;
	}

	.nav-scroll .line {
		background: var(--plain-color);
	}

	nav ul {
		margin-left: 0;
		margin-right: 0;
		display: none;
	}

	nav ul li {
		opacity: 0;
		display: none;

	}

	nav.Navtoggle {
		height: 100%;
		padding-bottom: 0px;
		border-bottom: none !important;
	}

	nav.Navtoggle .hamburger {
		position: relative;
		right: 26px;
	}

	nav.Navtoggle ul {
		display: block;
		width: 100%;
		background: #334037e8;
		transition: none;
		height: auto;
		margin-top: -5px;
	}

	nav.Navtoggle ul li {
		display: block;
	}

	nav.Navtoggle ul li a {
		color: var(--plain-color) !important;
		display: inline-block !important;
	}

	nav.Navtoggle ul li a:hover {
		color: rgba(0, 0, 0, 0.6) !important;
	}

	nav.Navtoggle ul li:nth-child(1) {
		transition: all .3s ease-in;
	}

	nav.Navtoggle ul li:nth-child(2) {
		transition: all .5s ease-in;
	}

	nav.Navtoggle ul li:nth-child(3) {
		transition: all .7s ease-in;
	}

	nav.Navtoggle ul li:nth-child(4) {
		transition: all .9s ease-in;
	}

	nav.Navtoggle ul li:nth-child(5) {
		transition: all .11s ease-in;
	}

	nav.Navtoggle ul li.fade {
		opacity: 1;
		display: block;
	}


	nav.Navtoggle .line:nth-child(1) {
		width: 17px;
	}

	nav.Navtoggle .line:nth-child(2) {
		width: 25px;
	}
}

@media screen and (max-width: 768px) {
	nav.Navtoggle .hamburger {
		right: 17px;
	}
}

@media screen and (max-width: 600px) {

	nav.Navtoggle .hamburger {
		right: 8px;
	}
}

@media screen and (max-width: 480px) {
	nav.Navtoggle .hamburger {
		right: -30px;
	}
}