:root {
	--bg-color: #dbba76;
	--nav-color: #800000cc;
	--hover-color: #dbb976ad;
	--plain-color: #fff;
	--default-color: #000;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif !important;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

.navigation-bar {
	margin: 0 auto;
	width: 100%;
	position: fixed;
	z-index: 9999;
	text-align: center;
	padding: 1em 3em;
}

.nav-scroll {
	height: auto;
	background: var(--plain-color);
	color: var(--default-color) !important;
	transition: 1s all ease-in;
}

.nav-scroll.navigation-bar {
	padding: 0;
}

.nav-scroll nav {
	border-bottom: none !important;
	background-color: var(--bg-color) !important;
	padding: 0 20px;
}

nav {
	position: relative;
	height: auto;
	width: 100%;
	transition: all 1s ease-out;
	border-bottom: 2px solid var(--hover-color) !important;
	background-color: none !important;
}


nav ul {
	/* width: 50%; */
	text-align: center;
	height: 100%;
	margin-left: auto;
	margin-right: 10%;
	transition: all 1s ease-in;
	font-size: 14px;
	font-weight: 600;
}

nav ul li {
	margin: 0 1em;
	list-style: none;
	height: inherit;
	display: inline-block;
}


nav ul li a {
	display: inline-block;
	/* color: var(--default-color) !important; */
	color: var(--plain-color) !important;
	text-decoration: none;
	transition: all 0.5s ease-out;
}

nav ul li a:hover {
	color: var(--default-color) !important;
}

.navbar-brand {
	font-family: 'Comfortaa', cursive;
	letter-spacing: -0.6px;
	color: var(--plain-color) !important;
}

.navbar-brand span {
	font-family: 'Berkshire Swash', cursive;
	font-size: 35px;
	letter-spacing: -2px;
}

.navbar-brand span:nth-child(2) {
	margin-left: 2px;
}

.navbar-brand i {
	width: 10px;
	background: var(--hover-color);
	height: 10px;
	display: inline-block;
	margin: 0 0 -5px 5px;
}

.nav-scroll ul li a {
	color: var(--default-color) !important;
}

.nav-scroll ul li a:hover {
	color: var(--plain-color) !important;
}

.nav-scroll .navbar-brand {
	color: var(--default-color) !important;
}

.nav-scroll .navbar-brand span {
	font-size: 30px;
}

.nav-scroll .navbar-brand i {
	width: 8px;
	/* background: #356243; */
	height: 8px;
	margin: 0 0 -4px 3px;
}

.sec1 {
	background: url('/images/09.jpg') no-repeat center 10% fixed;
	background-size: cover;
	height: 100vh;
	overflow-y: hidden;
	padding-top: 10vh;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.sec1 .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}

.sec1 video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.sec1 .banner {
	margin: 0 auto;
	position: relative;
	z-index: 2;
	text-align: center;
	color: var(--plain-color);
	text-shadow: 2px 2px 2px var(--bg-color);
	font-family: 'Montserrat', cursive;
	font-size: 25px;
}

.sec1 .banner span {
	color: var(--plain-color);
	text-shadow: 1px 1px 3px var(--bg-color);
	z-index: 2;
	font-size: 55px;
	letter-spacing: 4px;
	font-weight: 500;
	font-family: 'Poppins', cursive;
}

.subBanner {
	margin: 0 auto;
	font-family: 'Montserrat', cursive;
	font-size: 20px;
	text-align: justify;
	z-index: 2;
	color: var(--plain-color);
	/* text-shadow: 2px 1px 3px mediumvioletred; */
	/* display: flex; */
	vertical-align: middle;
}

#eventDate {
	transition: all 2s linear;
}


.subBanner input {
	background: #edebee;
	text-align: center;
	padding: 8px;
	width: 80%;
	font-size: 15px;
	height: 55px;
	margin: 20px 0;
	outline: none;
	outline: none;
	border: 1px solid var(--bg-color);
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

.subBanner button {
	/* line-height: 50px!important; */
	padding: 12px 30px !important;
	background: var(--bg-color);
	font-size: 13px;
	height: 55px;
	color: var(--plain-color);
	position: absolute;
	margin: 20px auto;
	outline: none;
	border-radius: 0;
	outline: none;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	transition: 0.2s all ease-in-out;
}

.subBanner button:focus,
.subBanner button:active,
.subBanner button:hover {
	outline: transparent;
	box-shadow: none;
}

.subBanner button:hover {
	background: var(--hover-color);
}

.timeSymbolContainer {
	display: flex;
	z-index: 2;
	vertical-align: middle;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	margin: 25px auto 10px;
	max-width: 600px;
}

.timesymbol {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	width: 600px;
}

.timesymbol::before,
.timesymbol::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 22%;
	background: var(--bg-color);
}

.timesymbol::before {
	left: 26%;
}

.timesymbol::after {
	right: 26%;
}

.timesymbol span {
	font-size: 19px;
	font-weight: bolder;
	color: #dbba76;
}

.counter-wrap {
	position: relative;
	/* margin-left: auto; */
	align-self: flex-end;
	z-index: 2;
}

.counter-wrap:before {
	position: absolute;
	content: "";
	right: 0px;
	top: 0px;
	width: 90%;
	max-height: 30vh;
	height: 30vh;
	background: #0000009e;
	border-radius: 100px 0px 0px 100px;
	box-shadow: inset 1px 1px 0px 0px #dbba7678;
}

.counter-inner {
	/* margin-top: -70px; */
	padding: 50px;
	position: relative;
}

.counter-inner .row {
	align-items: center;
	flex-flow: row;
	display: flex;
	justify-content: center;
}

.counter-inner h2 {
	color: var(--plain-color);
	font-weight: 300;
	font-size: 22px;
	margin-left: 22px;
	text-align: center;
}

.syotimer {
	display: flex;
	flex-wrap: wrap;
	flex-flow: column;
}

.syotimer__body {
	display: flex;
	width: 100%;
}

.syotimer-cell {
	display: inline-block;
	height: 100px;
	width: 115px;
	border-radius: 15px;
	font-family: "Poppins", sans-serif;
	background: var(--bg-color);
	color: var(--plain-color);
	text-align: center;
	padding-top: 15px;
	margin-right: 10px;
}

.syotimer-cell__value {
	font-weight: 800;
	font-size: 45px;
	line-height: 45px;
	color: var(--plain-color);
	font-family: "Poppins", sans-serif;
}

.syotimer-cell__unit {
	text-transform: capitalize;
	color: var(--plain-color);
}

.sec2 {
	height: auto;
	padding: 40px 0px 30px 0px;
	background: var(--plain-color);
}

.AboutTopic,
.eventSpeakers,
.Tickets {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.AboutTopic {
	padding-bottom: 40px;
}

.AboutTopic span,
.eventSpeakers span,
.Tickets span {
	font-size: 46px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	color: var(--default-color);
}


.sec2>.container {
	align-items: center;
	display: flex;
	flex-flow: column;
}

.Abt {
	max-width: 80%;
	margin-bottom: 80px;
}

label.AboutSub {
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	line-height: 36px;
	font-weight: 700;
	font-style: normal;
	display: flex;
	justify-content: center;
	text-align: center;
	color: var(--bg-color);
	padding-top: 30px;
	padding-bottom: 20px;
	/* border-bottom: 2px solid; */
	margin: 0 50px 0px;
}

.Abt>div {
	border-top: 2px solid var(--bg-color);
	border-bottom: 2px solid var(--bg-color);
	padding: 25px;
	text-align: center;
}

.objective:hover .icon {
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
}

.objective h3 {
	text-transform: capitalize;
	font-size: 22px;
	/* text-align: center; */
}

.objective p {
	/* text-align: justify; */
	font-size: 14px;
	line-height: 1.8;

}

.objective .icon {
	position: absolute;
	font-size: 42px;
	color: #939393;
	left: 13%;
	transition: all 0.5s ease-in-out;
}

.row .col-lg-4:nth-child(3) .objective .icon {
	font-size: 35px;
	left: 11%;
}

.objective-text {
	padding-left: 55px;
	margin-left: 20px;
	text-align: justify;
}

.schedule {
	margin: 0 auto 50px;
	max-width: 960px;
	text-align: left;
	background-color: var(--plain-color);
}



.accordions {
	display: flex;
	flex-flow: column;
	vertical-align: middle;
	width: 90%;
	justify-content: center;
	padding: 40px 20px 40px 40px !important;
	margin-top: 40px;
}

.accordion {
	color: var(--bg-color);
	padding: 20px;
	-webkit-transition: background 0.2s ease, border 0.2s ease;
	-o-transition: background 0.2s ease, border 0.2s ease;
	transition: background 0.2s ease, border 0.2s ease;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	border-color: #bb8e31;
	text-align: center;
}

.accordion:last-child {
	border-right-width: 1px;
	border-right-color: #bb8e31;
}

.accordion.opened {
	background: var(--bg-color);
	color: var(--plain-color);
	cursor: default !important;
}

.accordion.opened label:hover {
	cursor: default !important;
}

.accordion.opened::after,
.accordion:hover::after {
	opacity: 1;
}

.accordion:hover {
	background: var(--bg-color);
	color: var(--plain-color);
	cursor: pointer;
}

.accordion label:hover {
	cursor: pointer;
}

.accordion::after {
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	content: "";
	border-style: solid;
	border-width: 7px 10px 0 10px;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	color: var(--bg-color);
	opacity: 0;
	z-index: 1;
	-webkit-transition: opacity 0.15s ease;
	-o-transition: opacity 0.15s ease;
	transition: opacity 0.15s ease;
}

.tab-content {
	padding: 0;
	border-style: solid;
	border-width: 0 1px 1px;
	border-color: transparent #bb8e31 #bb8e31;
}

.fade.in {
	opacity: 1;
}

.fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	transition: opacity .15s linear;
}

.t-wrapper {
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.t-schedule {
	width: 100%;
	border-style: solid;
	border-width: 0 1px 0 0;
	border-color: #e9e9e9;
	z-index: 10;
	margin: 0;
	padding: 0;
	display: flex;
	background-color: #eff1f5;
	border: none;
}

.t::before {
	content: " ";
	display: table;
}

.t.t-schedule>li {
	position: relative;
	display: table-cell;
	font-size: 15px;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	border-color: #e9e9e9;
	-webkit-transition: background 0.2s ease, border 0.2s ease;
	-o-transition: background 0.2s ease, border 0.2s ease;
	transition: background 0.2s ease, border 0.2s ease;
}

.tab-content .t.t-schedule>li>span {
	margin: 0;
	padding: 16px 45px 14px;
	font-family: Raleway;
	font-weight: 700;
	text-transform: uppercase;
	color: #51545b;
}

.t.t-schedule>li>span {
	display: block;
	text-decoration: none;
	padding: 20px 15px 12px;
	text-align: center;
	-webkit-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

.t>li>span {
	position: relative;
	display: block;
	padding: 10px 15px;
}

.t.t-schedule.dc {
	display: flex;
	align-items: center;
	justify-content: center;
}

.t.t-schedule.dc>li:hover span {
	color: #51545b !important;
	cursor: default;
}

.tab-content .t-schedule>li.active {
	background-color: transparent;
	border-bottom-color: var(--bg-color);

}

.tab-content .t-schedule>li.active span:not(:hover):not(:active) {
	color: var(--bg-color) !important;
}

.tab-content .t-schedule>li:hover {
	cursor: pointer;
}

.tab-content .t-schedule>li:hover span {
	color: var(--bg-color) !important;
}

.tab-content .t-schedule>li.active:hover {
	cursor: default !important;
}

.tab-content .t-schedule>li {
	display: inline-block;
	border-width: 0 0 1px;
}

.tab-content-schedule {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	padding: 70px 100px 55px 80px;
}

.AboutContent ol {
	counter-reset: my-counter;
	list-style: none;
	padding-left: 80px;
	text-align: justify;
}

.AboutContent ol strong {
	font-weight: 600;
	text-shadow: 0px 0px 1px var(--hover-color);
}

.AboutContent ol li {
	margin: 0 0 0.5rem 0;
	counter-increment: my-counter;
	position: relative;
	padding-left: 20px;
}

.AboutContent ol li::before {
	content: counter(my-counter);
	color: var(--plain-color);
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	--size: 30px;
	left: calc(-1 * var(--size) - 10px);
	line-height: var(--size);
	width: var(--size);
	height: var(--size);
	top: 0;
	/* transform: rotate(-10deg); */
	background: var(--bg-color);
	border-radius: 25%;
	text-align: center;
	box-shadow: 1px 1px 0 #999;
}

.AboutContent li ul {
	margin: 12px 0px 0 50px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column;
}

.AboutContent li ul dl {
	margin: 2px !important;
	display: inline-flex;
	align-items: center;

}

.AboutContent li ul dl::before {
	content: '';
	position: absolute;
	height: 2px;
	width: 8px;
	background: var(--default-color);
	margin-left: -20px;
}

.sec3 {
	height: auto;
	padding: 50px 0px 50px 0px;
	display: flex;
	flex-direction: column;
	background: #ffdd96 url('/images/team2.png');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: difference;
	overflow: hidden;

}

.sec3 .carousel-item .container {
	padding-top: 30px;
	margin-top: 40px;
	align-self: center;
	width: 100%;
}

.eventSpeakers span {
	color: var(--default-color);
}

.speakers {
	padding: 0 25px;
}

.speakers .row {
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}

.speaker {
	padding: 0px 5px !important;
	/* background: #52745d; */
	max-height: 315px;
	max-width: 330px;
	overflow: hidden;
}

.speaker:hover {
	background: var(--hover-color);
}

.speaker img {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

.speaker:hover img {
	opacity: 0.4;
}

.speaker h3,
.speaker p {
	margin: 0;
}

.speaker h3 {
	position: absolute;
	bottom: 10px;
	opacity: 1;
	/* padding-top: 30%; */
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	word-spacing: -0.15em;
	font-weight: 700;
	width: 100%;
	font-size: 20px;
}

.speaker:hover h3 {
	-webkit-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0);
	width: 80%;
}

.speaker p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
	letter-spacing: 1px;
	font-size: 12px;
	font-style: italic;
}

.speaker:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0, -45px, 0);
	transform: translate3d(0, -45px, 0);
}

.speaker figcaption {
	padding: 2em;
	color: var(--plain-color);
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	height: 100%;
	justify-content: center;
}

.speaker figcaption::before,
.speaker figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	pointer-events: none;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.speaker figcaption::before {
	border-top: 1px solid var(--plain-color);
	border-bottom: 1px solid var(--plain-color);
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
}

.speaker figcaption::after {
	border-right: 1px solid var(--plain-color);
	border-left: 1px solid var(--plain-color);
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
}

.speaker:hover figcaption::before,
.speaker:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.speakerJob {
	background: var(--bg-color);
	color: var(--plain-color);
	position: absolute;
	/* bottom: 0; */
	/* width: 100%; */
	/* align-self: center; */
	/* left: 0; */
	padding: 5px 10px;
}

.speakerJob h5 {
	font-size: 15px;
	margin: 0;
}

.carousel-control-next,
.carousel-control-prev {
	top: 50% !important;
	height: 20px;
	filter: invert(100);
	display: block !important;
}

.carousel-control-next a:focus,
.carousel-control-prev a:focus {
	opacity: .5 !important;
	display: none !important;
}

.carousel-control-next:hover a,
.carousel-control-prev:hover a {
	opacity: .5;
}

.carousel-control-next a:hover,
.carousel-control-prev a:hover {
	opacity: .9 !important;
}

.Tickets {
	padding: 55px 0;
}

.pricing {
	/* padding: 100px 0; */
	box-sizing: border-box;
}

.pricing .container {
	margin: 0 auto;
}

.pricing .container .row {
	margin: 0 auto;
	align-items: center;
}

.pricing .container .column {
	position: relative;
	width: 90%;
	float: left;
	transition: 0.5s;
}

.pricing .container .column .box {
	position: relative;
	max-width: 300px;
	min-height: 450px;
	margin: 0 auto;
	padding: 20px;
	padding-top: 0;
	box-sizing: border-box;
	text-align: center;
	background: linear-gradient(0deg, #202022, #464646);
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 150px;
	border-bottom-right-radius: 150px;
	border: 3px solid var(--bg-color);
	box-shadow: 0 0 0 6px #323232, 0 0 0 10px var(--bg-color), 0 0 0 20px #323232
		/*, 0 10px 150px rgba(0, 0, 0, 1)*/
	;
	overflow-y: hidden;
	transition: .5s ease;
}

.pricing .container .column .box:hover {
	transform: scale(1.02)
}

.pricing .container .column .box:before {
	content: '';
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .1);
	pointer-events: none;
}

.pricing .container .column .box .title .fa {
	margin-top: 15px;
	font-size: 60px;
	color: var(--bg-color);
}

.pricing .container .column .box .title h2 {
	color: var(--plain-color);
	margin: 18px 0 0;
	padding: 0;
}

.pricing .container .column .box .price h4 {
	font-size: 60px;
	color: var(--bg-color);
	margin: 10px 0;
	padding: 0;
}

.pricing .container .column .box .price sup {
	font-size: 25px;
	top: -1em;
}

.pricing .container .column .box .option ul {
	margin: 18px 0px;
	padding: 0;
}

.pricing .container .column .box .option ul li {
	list-style: none;
	color: var(--plain-color);
	padding: 8px 0;
	border-bottom: 1px solid rgba(255, 255, 255, .1);

}

.pricing .container .column .box .option ul li:last-child {
	border-bottom: none;
}

.pricing .container .column .box .option ul li .fa {
	position: absolute;
	left: 30px;
}

.pricing .container .column .box .btn {
	display: inline-block;
	background: var(--bg-color);
	color: #262626;
	font-weight: bold;
	padding: 10px 30px;
	text-decoration: none;
	border-radius: 10px;
	transition: 0.2s linear;
}

.pricing .container .column .box .btn:hover {
	background: #936e23;
	color: var(--plain-color);
}























































































































































































































































































@media screen and (max-width:1500px) {
	.sec1 {
		padding-top: 30vh;
	}
}

@media screen and (max-width:1100px) {

	.carousel-control-next,
	.carousel-control-prev {
		width: 6% !important;
	}
}

@media screen and (max-width: 992px) {
	.hamburger {
		position: absolute;
		margin-left: auto;
		margin-right: 0px;
		cursor: pointer;
		right: 5%;
		top: 30%;
		bottom:0;
		float: right;
		/* transform: translate(-5%, -50%); */
	}

	.line {
		width: 30px;
		height: 4px;
		background: var(--default-color);
		margin: 5px;
		border-radius: 5px;
		transition: all 0.5s linear;
	}

	.nav-scroll .line {
		background: var(--plain-color);
	}

	nav ul {
		margin-left: 0;
		margin-right: 0;
		display: none;
	}

	nav ul li {
		opacity: 0;
		display: none;

	}

	nav.Navtoggle {
		height: 100%;
		padding-bottom: 0px;
		border-bottom: none !important;
	}

	nav.Navtoggle .hamburger {
		position: relative;
		right: 26px;
	}

	nav.Navtoggle ul {
		display: block;
		width: 100%;
		background: var(--bg-color);
		transition: none;
		height: auto;
		margin-top: 15px;
	}

	nav.Navtoggle ul li {
		display: block;
	}

	nav.Navtoggle ul li a {
		color: var(--plain-color) !important;
		display: inline-block !important;
	}

	nav.Navtoggle ul li a:hover {
		color: rgba(0, 0, 0, 0.6) !important;
	}

	nav.Navtoggle ul li:nth-child(1) {
		transition: all .3s ease-in;
	}

	nav.Navtoggle ul li:nth-child(2) {
		transition: all .5s ease-in;
	}

	nav.Navtoggle ul li:nth-child(3) {
		transition: all .7s ease-in;
	}

	nav.Navtoggle ul li:nth-child(4) {
		transition: all .9s ease-in;
	}

	nav.Navtoggle ul li:nth-child(5) {
		transition: all .11s ease-in;
	}

	nav.Navtoggle ul li.fade {
		opacity: 1;
		display: block;
	}


	nav.Navtoggle .line:nth-child(1) {
		width: 17px;
	}

	nav.Navtoggle .line:nth-child(2) {
		width: 25px;
	}

	.counter-wrap:before {
		width: 100%;
	}

	.objective .icon {
		left: 6% !important;
	}

	.carousel-control-next,
	.carousel-control-prev {
		width: 15% !important;
	}

	.t-schedule {
		flex-flow: column;
	}

	.AboutContent ol {
		padding: 0px
	}

	.pricing .container .column {
		width: 100%;
	}

	.tab-content .t-schedule>li.active {
		border-top-color: var(--bg-color);
		border-width: 1px;
	}

	.pricing .container .col-lg-4 {
		margin-bottom: 55px;
	}
}

@media screen and (max-width: 850px) {

	.carousel-control-next,
	.carousel-control-prev {
		width: 10% !important;
	}
}

@media screen and (max-width: 768px) {
	nav.Navtoggle .hamburger {
		right: 17px;
	}

	.timesymbol {
		width: 0px !important;
	}

	.counter-wrap {
		align-self: stretch;
	}

	.counter-wrap:before {
		height: 20vh;
	}

	.counter-inner {
		padding-top: 20px !important;
		padding: 85px;
	}

	.counter-inner h2 {
		margin-left: 0px;
	}

	.syotimer-cell__value {
		font-weight: 700;
		font-size: 35px;
		line-height: 35px;
	}

	.syotimer-cell {
		height: 85px;
		width: 100px;
	}

	.tab-content-schedule {
		padding-right: 10px;
		padding-left: 45px;
	}

	.AboutContent li ul {
		margin-left: 20px;
	}

	.carousel-control-next,
	.carousel-control-prev {
		width: 30% !important;
	}
}

@media screen and (max-width: 600px) {

	nav.Navtoggle .hamburger {
		right: 8px;
	}

	.counter-wrap:before {
		height: 30vh;
	}

	.counter-inner .row {
		flex-flow: column;
	}

	.counter-inner {
		padding: 135px;
	}

	.carousel-control-next,
	.carousel-control-prev {
		width: 20% !important;
	}
}

@media screen and (max-width: 480px) {
	.navigation-bar {
		padding: 0 !important;
	}

	.navbar-brand {
		font-size: 18px !important
	}

	.navbar-brand span {
		font-size: 25px;
	}

	.navbar-brand i {
		width: 7px;
		height: 7px;
	}

	/* .line {
		width: 45px;
		height: 10px;
	} */

	video {
		display: none;
	}

	.sec1 {
		padding: 0;
		height: 100%;
	}

	.sec1 .banner {
		margin-top: 23vh;
		font-size: 18px;
	}

	.sec1 .banner span {
		font-size: 23px;
	}

	.subBanner {
		font-size: 12px;
	}

	.subBanner input {
		font-size: 12px;
		height: 48px;
		margin-left: -10px;
	}


	.subBanner button {
		font-size: 12px;
		height: 48px;
	}

	.counter-wrap {
		align-self: center;
		margin-bottom: -12vh;
	}

	.counter-inner h2 {
		font-size: 18px;
	}

	.counter-wrap:before {
		height: 27vh;
	}

	.syotimer-cell {
		height: 70px;
		width: 70px;
		padding-top: 10px;
	}

	.syotimer-cell__value {
		font-weight: 700;
		font-size: 28px;
		line-height: 28px;
	}

	.syotimer-cell__unit {
		font-size: 14px;
	}
}